.upyan {
  margin-right: 4px;

  img {
    position: relative;
    display: inline-block;
    height: 19px;
    top: 3px;
    left: 2px;
    transform: scale(1.4);
    padding: 0 6px;
  }
}

i.fa-apple {
  transform: scale(1.4) translateY(-0.5px)
}

.powered-by {
  position: relative;
  top: -2px;
}

summary {
  cursor: pointer;  

  &:hover {
    opacity: 0.7
  }
}

.katex-block {
  overflow: auto
}